
.intro
{
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.nav1
{
  background-color: rgb(0, 0, 0) ;
  opacity: .9;
  padding-top: 10;
  width:100%;
}
.t1
{
  color: white;
}
.navbar-brand
{
  padding-left: 100px;
  
  font-size: 35px;
}
.navbar-nav
{
  padding-right: 200px;
}
.nav-item
{
  padding:10px;
  font-size: 20px;

}
.jumbotron
{
  background-image: url('1.jpg');
  height: auto;
  background-size: cover;
  background-position: center;
  color:white;
  width:100%;

  
  
  border-radius: 0px!important;

}

.carousel-inner img {
    width: 100%;
    
  }

.jumbotron:hover {
 
   

}
.*
{
  margin:0;
  padding: 0;
  font-family: :'source serif pro';
}
.nav-link:hover
{
  font-weight: 600px;
  border-bottom: 1px solid red;
  color:white;
}
.r1
{
  margin-top: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.a1
{
  color:red;
  font-size: 40px;
  text-transform: capitalize;

}
h6
{
  color:yellow;
}
.img-circle
{
  width:100%;
    height:90%;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px; 
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.oslo
{
  
  
  color:blue;
  font-weight: bold;
  font-size: 45px;
}
#features
{

width:100%;
height:auto;
background-color: rgb(255, 206, 174);
}

#dashboard
{

width:100%;
height:auto;
background-color:rgba(123, 0, 255, 0.2);
}
#grad
{
  width:100%;
  height:auto;
  background-color: red;
  background-image: linear-gradient(to right, red , deeppink);
}
.light
{
  color:white;
  padding-bottom:10px;
}
#contact
{
  background-image: url('2.jpg');
  height: auto;
  background-size: cover;
  background-position: center;
  color:white;
  border-radius: 0px!important;
}
.a2
{
  color:white;
  font-size:20px;
}
h2
{
  font-size: 35px;
  
}
footer
{
  width:100%;
  background-color: rgb(255, 206, 174);
}
#last
{
  width:100%;
  height:40px;
  background-color: rgba(255, 99, 71, 0.5);
}
#teams
{
  width:100%;
  height:auto;
  background-color: rgba(243, 0, 35, 0.4);
}
.i1
{

}
.i1:hover
{
  width:260px;
  height:260px;

}
#about
{
  width:100%;
   background-color: #eee;
   margin-top: 50%;
}

.custom {
  border-color: red;
} 
.d1
{
  color:white;
}
.arch
{
  
   transform: translate(10%, -120%);
  width:90%;
  height:80%;
  border:10px solid gray;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px; 
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  padding-left: 10px;
    padding-right: 10px;

}
.r2
{
  padding-top: 40px;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;

}

.slides {
  display: block;
  list-style: none;
  margin-left: 0px;
  width: 8000px;

}

.slide {
  float: left;
  width: 1400px;
  background-size: cover;
  margin-left: -35px;
  
}

.image1 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.button-input {
  position: absolute;
  margin-left: 95%;
  margin-top: 25%;
  background-color: transparent;
  border: none;
  font-size: 40px;

}
.button1-input {
  position: absolute;
  margin-left: 01%;
  margin-top: 25%;
  background-color: transparent;
  border: none;
  font-size: 40px;

}
.fa
{
  color:white;
}
.r-d1
{
  position: absolute;
  margin-left:50%;
  margin-top:45%;
}
